# Fuck off!
RedirectMatch 404 /\.git

# Disable directory indexing.
Options -Indexes

# Deny access to this very file.
<Files .htaccess>
	Order allow,deny
	Deny from all
</Files>

# Deny access to sensitive files in the root.
<FilesMatch "config.php|.gitignore|README.md">
	Order allow,deny
	Deny from all
</FilesMatch>

# Deny access to Sublime Text files.
<FilesMatch "\.sublime-">
	Order allow,deny
	Deny from all
</FilesMatch>

# Fancy URLs!
RewriteEngine On
#RewriteBase /
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

# Homepage has these hardcoded since the usual two char match might also match js/.
RewriteRule ^(en|pt|br)/?$ index.php?lang=$1 [NC,QSA,L]

# Dynamic pages.
RewriteRule ^([A-Za-z]{2})/product/([A-Za-z0-9-_]+)/?$ product.php?name=$2&lang=$1 [NC,QSA,L]
RewriteRule ^product/([A-Za-z0-9-_]+)/?$ product.php?name=$1 [NC,QSA,L]

# Sitemap.
RewriteRule ^sitemap\.xml$ sitemap.php?format=xml [NC,L]
RewriteRule ^sitemap\.txt$ sitemap.php?format=txt [NC,L]
RewriteRule ^sitemap\.html$ sitemap.php?format=html [NC,L]
