<!-- Global site tag (gtag.js) - Google Analytics -->
%ga_open%<script async src="https://www.googletagmanager.com/gtag/js?id=UA-113094946-1"></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'UA-113094946-1');
</script>%ga_close%

<!-- Open Graph -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>%title%</title>
<meta name="description" content="%description%">
<meta name="author" content="Nathan Campos">
<meta property="og:title" content="%og_title%">
<meta property="og:description" content="%description%">
<meta property="og:type" content="website">
<meta property="og:url" content="%og_url%">
<meta property="og:image" itemprop="image" content="%og_image%">
<meta property="og:site_name" content="Innove Workshop Company">
<meta property="og:locale:" content="%og_lang%">
<meta property="og:locale:alternate" content="pt_BR">
<meta property="og:locale:alternate" content="en">
%hreflang_tags%

<!-- Mobile descriptions -->
<meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
<meta name="application-name" content="Innove Workshop Company">
<meta name="apple-mobile-web-app-title" content="Innove Workshop">
<meta name="msapplication-TileColor" content="#0099BC">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">

<!-- Mobile header bar color -->
<meta name="theme-color" content="#0099BC" />
<meta name="msapplication-navbutton-color" content="#0099BC">
<meta name="apple-mobile-web-app-status-bar-style" content="#0099BC">

<!-- Favicons -->
<link rel="apple-touch-icon-precomposed" sizes="57x57" href="%web_root%/favicon/apple-touch-icon-57x57.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="%web_root%/favicon/apple-touch-icon-114x114.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="%web_root%/favicon/apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="%web_root%/favicon/apple-touch-icon-144x144.png" />
<link rel="apple-touch-icon-precomposed" sizes="60x60" href="%web_root%/favicon/apple-touch-icon-60x60.png" />
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="%web_root%/favicon/apple-touch-icon-120x120.png" />
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="%web_root%/favicon/apple-touch-icon-76x76.png" />
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="%web_root%/favicon/apple-touch-icon-152x152.png" />
<link rel="icon" type="image/png" href="%web_root%/favicon/favicon-196x196.png" sizes="196x196" />
<link rel="icon" type="image/png" href="%web_root%/favicon/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/png" href="%web_root%/favicon/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="%web_root%/favicon/favicon-16x16.png" sizes="16x16" />
<link rel="icon" type="image/png" href="%web_root%/favicon/favicon-128.png" sizes="128x128" />
<meta name="msapplication-TileImage" content="%web_root%/favicon/mstile-144x144.png" />
<meta name="msapplication-square70x70logo" content="%web_root%/favicon/mstile-70x70.png" />
<meta name="msapplication-square150x150logo" content="%web_root%/favicon/mstile-150x150.png" />
<meta name="msapplication-wide310x150logo" content="%web_root%/favicon/mstile-310x150.png" />
<meta name="msapplication-square310x310logo" content="%web_root%/favicon/mstile-310x310.png" />

<!-- Web Manifest -->
<link rel="manifest" href="%web_root%/manifest.json">

<!-- Stylesheets -->
<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
<!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->

<link rel="stylesheet" href="%web_root%/lib/bootstrap/css/bootstrap.css">
<link rel="stylesheet" href="%web_root%/lib/lightbox/css/ekko-lightbox.css">
<link rel="stylesheet" href="%web_root%/css/custom.css">

<!-- Javascript -->
<!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>-->
<script type="text/javascript" src="%web_root%/lib/jquery.js"></script>
<script type="text/javascript" src="%web_root%/lib/bootstrap/js/bootstrap.js"></script>
<script type="text/javascript" src="%web_root%/lib/fontawesome/js/all.js"></script>
<script type="text/javascript" src="%web_root%/lib/lightbox/js/ekko-lightbox.js"></script>

<!--<script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>-->

<script type="text/javascript" src="%web_root%/js/social.js"></script>
