<nav class="navbar navbar-expand-lg navbar-light bg-faded" id="navbar">
	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<a class="navbar-brand" href="%web_root%/">
		<img src="%web_root%/images/logo.png" alt="Innove Workshop">
	</a>

	<!-- Navbar items. -->
	<div class="collapse navbar-collapse" id="navbar-content">
		<!-- Items on the left side. -->
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" href="%web_root%/%lang%/">%home%</a>
			</li>
		</ul>
	</div>

	<!-- Language selection -->
	<span class="navbar-text">
		<a href="%lang_sel_en%" alt="English">🇺🇸</a> <a href="%lang_sel_br%" alt="Português">🇧🇷</a>
	</span>
</nav>
