<div class="project-container container">
	<hr>
	<h1 id="%id%">%title%</h1>

	<div class="project-highlight-line">
		%highlight_line%
	</div>

	<p>%brief%</p>

	<div class="project-image-carousel container">
		%image_carousel%
		<br>
	</div>

	%description%

	<div class="schematic-container">
		<h4>%schbrd_title%</h4>

		<div class="project-image-carousel container">
			%schbrd_carousel%
			<br>
		</div>
	</div>

	<div class="links-container">
		<h4>%links_title%</h4>

		<ul>
			%links%
		</ul>
	</div>
</div>
