<div class="project-container container">
	<hr>
	<h1>%title%</h1>

	<div class="project-highlight-line">
		%highlight_line%
		<!--<a href="https://github.com/nathanpc/infolio"><i class="fab fa-github"></i></a>
		<a href="https://tindie.com/"><i class="fas fa-shopping-cart"></i></a>
		<a href="https://wordpress.com/"><i class="far fa-newspaper"></i></a>-->
	</div>

	<p>%brief%</p>

	<div class="project-image-carousel container">
		%image_carousel%
		<!--<div class="row">
			<div class="col">
				<a href="images/projects/power12/show.jpg" data-toggle="lightbox" data-gallery="portastation-images">
					<img src="images/projects/power12/show.jpg" class="img-fluid img-thumbnail">
				</a>
			</div>
			<div class="col">
				<a href="images/projects/power12/open.jpg" data-toggle="lightbox" data-gallery="portastation-images">
					<img src="images/projects/power12/open.jpg" class="img-fluid img-thumbnail">
				</a>
			</div>
			<div class="col">
				<a href="images/projects/power12/open-connected.jpg" data-toggle="lightbox" data-gallery="portastation-images">
					<img src="images/projects/power12/open-connected.jpg" class="img-fluid img-thumbnail">
				</a>
			</div>
		</div>-->

		<br>
	</div>

	%description%

	<div class="schematic-container">
		<h4>Schematic and Board</h4>

		<div class="project-image-carousel container">
			%schbrd_carousel%
			<!--<div class="row">
				<div class="col">
					<a href="images/projects/power12/schematic.png" data-toggle="lightbox" data-gallery="portastation-schbrd">
						<img src="images/projects/power12/schematic.png" class="img-fluid img-thumbnail">
					</a>
				</div>
				<div class="col">
					<a href="images/projects/power12/board.png" data-toggle="lightbox" data-gallery="portastation-schbrd">
						<img src="images/projects/power12/board.png" class="img-fluid img-thumbnail">
					</a>
				</div>
			</div>-->

			<br>
		</div>
	</div>

	<div class="links-container">
		<h4>Links and Resources</h4>

		<ul>
			%links%
			<!--<li><a href="http://innoveworkshop.com/en">Project Website</a></li>
			<li><a href="http://innoveworkshop.com/en/product">Something</a></li>-->
		</ul>
	</div>
</div>
